[package]
name = "sp-analysis"
version = "0.0.0"
description = "Spectral analysis, sans-io"

license.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
